@charset "ISO-8859-1";

/* Body */
body {
    background-color: #f0f8ff; /* Light blue */
}

/* Heading */
h1 {
    color: #ff4500; /* Orange Red */
    text-align: center;
}

/* Paragraph */
p {
    font-family: "Times New Roman";
    font-size: 20px;
}

/* Links */
a:link,
a:visited {
    background-color: #32cd32; /* Lime Green */
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #4169e1; /* Royal Blue */
}
